/* -----------------------------------
Template:  Theme Name

NOTE: This is Header style file. All Header related style included in this file.

--------------------------------------*/


/*menu style */

.primary-menu ul li {
    display: inline-block;
}

.primary-menu ul li.current a {
    color: #000;
}
.primary-menu ul li:hover a {
    color: #000;
}

.primary-menu ul li a {
  color: #fff;
  display: block;
  font-size: 0.875em;
  font-weight: 700;
  padding: 7px 15px;
}
.primary-menu ul li:last-child a {
    padding-right: 0;
}
.primary-menu ul li:first-child a {
    padding-left: 0;
}
.header-area {
  padding: 25px 0;
  transition: all 0.3s ease 0s;
}
 /*Header Transprent */
.transparent-header {
  padding-top: 80px;
  position: absolute;
  width: 100%;
  z-index: 101;
  transition: all 0.3s ease 0s;
}

.is-sticky .header-area.transparent-header {
  background: #007FF6;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  width: 100%;
  z-index: 5000;
  padding: 20px 0;
}

.is-sticky .header-area{
  background: #007FF6;
  box-shadow: 0 1px 3px rgba(50, 50, 50, 0.4);
  width: 100%;
  z-index: 5000;
  padding: 20px 0;
}

.is-sticky .primary-menu ul li a {
}
.sticky-wrapper {
  position: absolute;
  width: 100%;
}
.simple-header .sticky-wrapper {
  position: inherit;
}
.simple-header .header-area {
  padding: 85px 0;
}
.simple-header .is-sticky .header-area {
  padding: 20px 0;
}
.header-logo img {
    width: 105px;
    transition: all 0.3s ease 0s;
}

.is-sticky .header-logo img {
    width: 90px;
}
